<%- include("../header"); %>
<div class="col-12">
    <h1>Usuarios</h1>
    <a href="/usuarios/agregar" class="btn btn-primary mb-2">Agregar</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Genero</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <% usuarios.forEach(usuario => { %>
            <tr>
                <td><%= usuario.nombre %></td>
                <td><%= usuario.email %></td>
                <td><%= usuario.genero %></td>
                <td>
                    <a href="views/usuarios/editar/<%= usuario.id %>" class="btn btn-warning">
                        Editar
                    </a>
                </td>
                <td>
                    <a href="views/usuarios/eliminar/<%= usuario.id %>" class="btn btn-danger">
                        Eliminar
                    </a>
                </td>
            </tr>
            <% })%>
        </tbody>
    </table>
</div>
<%- include("../footer"); %>